---
import { BlogRelationGraphPanel } from "./BlogRelationGraphPanel";
import type { GraphLink, GraphNode } from "@/components/common/SystemGraph";

interface Props {
    nodes: GraphNode[];
    links: GraphLink[];
}

const { nodes, links } = Astro.props;
---

<!-- sticky top-24: 固定ヘッダー (フローティングピル、高さ約72px) の下に隙間を残して止める。
     他ページの sticky (blog/[...slug].astro, system.astro) と同じ top-24 に揃えている。
     サイズ・sticky位置はこのdiv (Astro側、React stateと無関係) が担う。
     拡大時にReact側 (BlogRelationGraphPanel) が position: fixed に切り替わっても
     このdivのサイズは変わらないので、隣の記事一覧の幅が動くことはない -->
<div class="relative h-[360px] w-full flex-shrink-0 self-start lg:sticky lg:top-24 lg:h-[420px] lg:w-[380px] xl:w-[420px]">
    <BlogRelationGraphPanel client:only="react" nodes={nodes} links={links} />
</div>
